<strong>Olá, {{ deliveryman }}</strong>
<p>Você teve uma encomenda cancelada.</p>
<p>
  <strong>ID da encomenda: </strong> {{ id_product }} <br />
  <strong>Nome do produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <br />
  <small>
    Por favor, não retirar a mesma no depósito.
  </small>
</p>
